@import 'color.scss';
.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: .08rem;
	position: fixed;
	background: $mainColor;
	z-index: 9;
	top: 0;
	left: 0;;
	width: 100%;
	.search {
		width: 2.5rem;
		height: 0.3rem;
		border: none;
		border-radius: 0.2rem;
		-webkit-border-radius: 0.2rem;
		-moz-border-radius: 0.2rem;
		-ms-border-radius: 0.2rem;
		-o-border-radius: 0.2rem;
		text-align: center;
		font-size: .12rem;
	}

	.con {
		font-size: 0.24rem;
	}
	.title {
		width: 2.5rem;
		height: 0.3rem;
		text-align: center;
		line-height: 0.3rem;
		color: #fff;
	}
}
