.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	.search {
		width: 250px;
		height: 30px;
		background: #dadada;
		border: none;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		text-align: center;
		font-size: 12px;
	}

	.con {
		font-size: 24px;
	}
	.title {
		width: 250px;
		height: 30px;
		text-align: center;
		line-height: 30px;
	}
}
